#app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: scroll;
}
main > div {
  width: calc(87% - 10px);
  /* min-width: calc(92% + 10px); */
  display: flex;
  flex-direction: row;
}
nav {
  width: 100vw;
  height: 10%;
}
aside {
  width: calc(8% - 10px);
  min-width: 100px;
  height: 90vh;
  position: sticky;
}
.container {
  border: 0.75px solid gray;
  border-radius: 10px;
}
/* .content { */
/*   width: calc(100% - 10px); */
/* } */
